<mat-card>
    <div class="aluno-box">
        <button [routerLink]="['/cadastro']" [queryParams]="{tipo: 'aluno'}"  mat-raised-button class="custom-button">Cadastrar novo Aluno</button>
        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Procurar:</mat-label>
                <input matInput type="text" placeholder="Qual registro está buscando? [Nome | CPF]" (input)="search($event)">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="alunos" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="Situacao">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let alunos">
            @if(alunos.status == "Ativo"){
                <div>
                    <img src="images/active.png" alt="bolinha verde com simbolo check" style="height: 15px; width: 15px;">
                </div>
            }@else{
                <div>
                    <img src="images/inactive.png" alt="bolinha vermelha com simbolo x" style="height: 15px; width: 15px;">                           
                </div>
            }         
        </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let alunos"> {{alunos.nomeCompleto}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let alunos"> {{alunos.cpf}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let alunos"> {{alunos.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Telefone">
            <th mat-header-cell *matHeaderCellDef>Telefone</th>
            <td mat-cell *matCellDef="let alunos"> {{alunos.telefone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Ações">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alunos"> 
                <button routerLink="/editar/{{alunos.id}}" [queryParams]="{ tipo: 'aluno' }" mat-raised-button class="custom-buttonEdit">Editar</button>
                <button routerLink="/detalhes/{{alunos.id}}" [queryParams]="{ tipo: 'aluno' }" mat-raised-button>Detalhes</button> 
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Excluir">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alunos">
                <button mat-raised-button color="warn">Excluir</button>
            </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="colums"></tr>
        <tr mat-row *matRowDef="let row; columns: colums;"></tr>
    </table>
    <!--
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(alunos of alunos; track alunos){
                <tr>
                    <td>
                        @if(alunos.status == "Ativo"){
                            <div>
                                <img src="images/active.png" alt="bolinha verde com simbolo check" style="height: 15px; width: 15px;">
                            </div>
                        }@else{
                            <div>
                                <img src="images/inactive.png" alt="bolinha vermelha com simbolo x" style="height: 15px; width: 15px;">                           
                            </div>
                        } 
                    </td>
                    <td>{{alunos.nomeCompleto}}</td>
                    <td>{{alunos.cpf}}</td>
                    <td>{{alunos.email}}</td>
                    <td>{{alunos.telefone}}</td>
                    <td>
                        <button routerLink="/editar/{{alunos.id}}">Editar</button>
                        <button routerLink="/detalhes/{{alunos.id}}">Detalhes</button>              
                    </td>
                    <td>
                        <button>Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    -->
</mat-card>