<mat-card appearance="outlined">
    <h1>{{btnTitulo}}</h1>
    <form [formGroup]="aulaForm" (ngSubmit)="submit()" #formDit="ngForm" (submit)="$event.preventDefault()">

        <input type="hidden" formControlName="id">
        
        <div class="input_box">
            <mat-form-field>
                <mat-label>Tipo da Aula: </mat-label>
                <input matInput [value]="aulaForm.get('tipoAula')?.value" readonly>
            </mat-form-field>
        </div>

        <div class="input_box">
            <mat-form-field>
                <mat-label>Descrição:</mat-label>
                <textarea matInput type="text" formControlName="descricao" rows="2" cols="25" placeholder="Insira a descrição!" required></textarea>
                @if (aulaForm.get('descricao')?.invalid && aulaForm.get('descricao')?.touched) {
                  <mat-error>Descrição deve ter entre 5 e 150 caracteres</mat-error>
                }
            </mat-form-field>
        </div>
        
        <div class="btn-box">
            <button type="submit" [disabled]="!aulaForm.valid" mat-raised-button class="custom-button">{{btnAcao}}</button>
            <button routerLink="/aula" mat-raised-button>Voltar</button>
        </div>        
    </form>
</mat-card>