<mat-card>
    <div class="matricula-box">
        <button [routerLink]="['/cadastro-matricula']" mat-raised-button class="custom-button">Realizar Matrícula</button>
        <div class="input_box">
            <mat-form-field>
                <mat-label for="">Procurar:</mat-label>
                <input matInput type="text" placeholder="Qual registro está buscando? [Plano | CPF]" (input)="search($event)">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="matriculas" class="mat-elevation-z8">
        <ng-container matColumnDef="Situacao">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let matriculas">
            @if(matriculas.statusMatricula == "Ativo"){
                <div>
                    <img src="images/active.png" alt="bolinha verde com simbolo check" style="height: 15px; width: 15px;">
                </div>
            }@else{
                <div>
                    <img src="images/inactive.png" alt="bolinha vermelha com simbolo x" style="height: 15px; width: 15px;">                           
                </div>
            }         
        </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let matriculas"> {{matriculas.alunoNome}} </td>
        </ng-container>

        <ng-container matColumnDef="CPF">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let matriculas"> {{matriculas.alunoCpf}} </td>
        </ng-container>

        <ng-container matColumnDef="Telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let matriculas"> {{matriculas.alunoTelefone}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Plano">
        <th mat-header-cell *matHeaderCellDef>Plano Contratado</th>
        <td mat-cell *matCellDef="let matriculas"> {{matriculas.categoriaPlano}} </td>
        </ng-container>

        <ng-container matColumnDef="Quantidade">
            <th mat-header-cell *matHeaderCellDef>Quantidade total de aulas</th>
            <td mat-cell *matCellDef="let matriculas"> {{matriculas.quantidadeAulaTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="Ações">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let matriculas"> 
                <button routerLink="/editarmatricula/{{matriculas.id}}" mat-raised-button class="custom-buttonEdit">Editar</button>
                <button routerLink="/detalhesmatricula/{{matriculas.id}}" mat-raised-button>Detalhes</button> 
                <button (click)="navegarParaDetalhesAluno(matriculas.alunoId)" mat-raised-button>Detalhes Aluno</button>            </td>
        </ng-container>

        <ng-container matColumnDef="Excluir">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let matriculas">
                <button mat-raised-button color="warn">Excluir</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colums"></tr>
        <tr mat-row *matRowDef="let row; columns: colums;"></tr>
    </table>
</mat-card>